
.wrapper {
    background-color: ghostwhite;
    display: flex;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: stretch;
}
.channelblock {
    display: flex;
    height: 100vh;
    flex-direction: column;
    display: inline-block;
    background-color: #5aa;
    width: 20%;
    padding: 10px;
}

.channels {
    display: flex;
    flex-direction: column;
}
.inputField {
    width:350px;
    padding: 5px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.inputUsernameField {
    padding: 5px;
    margin: 10 px 0 px;
}

.rightside {
    padding: 0px 20px;
    width: 60vw;
    align-items: stretch;
}

.rightsideButton {
    background-color: #77befa;
    border-width:  1px;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.rightsideButtonDarker {
    background-color: #23d;
    border-width:  1px;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.channelButton {
    background-color:#2f8fff;
    border-width:  1px;
    border-color: #4fafff;
    color: white;
    padding: 5px 5px;
    margin: 3px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.channelButtonDarker {
    background-color:#23d;
    border-width:  1px;
    border-color: #4fafff;
    color: white;
    padding: 5px 5px;
    margin: 3px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.userbox {
    height: 122px;
    margin: 0 0 20px 0;
    border: solid 1px #999;
    overflow-y: auto;
    overflow-x: auto;
    overflow-wrap: break-word;
}
.chatArea {
    background-color: white;
    height: 500px;
    margin: 0 0 20px 0;
    border: solid 1px #999;
    overflow-y: auto;
    overflow-x: auto;
    overflow-wrap: break-word;
}
